// 滚动条样式
@mixin useScroll($width) {
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        border-radius: 2px;
        width: $width;
        background-color: #1e9af955;
    }

    &::-webkit-scrollbar-thumb {
        background: #1E99F9;
        background-size: 100% 100%;
        border-radius: 2px;
    }
}
